
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1492666973467'); /* IE9*/
  src: url('iconfont.eot?t=1492666973467#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492666973467') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492666973467') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492666973467#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before { content: "\e651"; }

.icon-erweima:before { content: "\e8c4"; }

.icon-suo:before { content: "\e6b4"; }

.icon-ren:before { content: "\e61e"; }

